/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[5].use[3]!./src/app/login/styles.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
/* styles.module.css */

.styles_logincontainer__a8r7Z {
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(223, 218, 218);
  min-height: 100vh;
}

.styles_loginform__HlrLS {
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fdf2f2;
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

.styles_label__ewhos {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.styles_input__csDNf {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.styles_button__5ru3n {
  background-color: #2a1c3a;
  color: #fff;
  padding: 12px;
  margin: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.styles_button__5ru3n:hover {
  background-color: #8000b3;
}

.styles_input__csDNf:focus {
  border-color: #9a00f3;
  outline: none;
}


.styles_teste__5bB_V{
  color: blue;
  text-decoration: underline;
}
